@import '~@angular/material/theming';

@include mat-core();

$tim-app-primary: mat-palette($mat-blue, A700);
$tim-app-accent: mat-palette($mat-amber);
$tim-app-warn: mat-palette($mat-red);
$tim-app-theme: mat-light-theme($tim-app-primary, $tim-app-accent, $tim-app-warn);
$tim-app-dark-theme: mat-dark-theme($tim-app-primary, $tim-app-accent, $tim-app-warn);
$set-background: (background: mat-color($tim-app-primary, 900));
$theme-background: (background: map-merge($mat-dark-theme-background, $set-background));

$go-hard-or-go-home: aquamarine;

@include angular-material-theme($tim-app-theme);
.app-dark {
  @include angular-material-theme(map-merge($tim-app-dark-theme, ()));
}
