.idea/
node_modules/
ormconfig.json
data-processing/*
data-processing/scripts/*
parser/*
!parser/parser_interface.py
!data-processing/script_interface.py
!data-processing/scripts/__init__.py
tempCronContent.txt
error.txt
log.txt
dist/
environments/
!environments/development.env
